<div id="cont">
  <ul class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link active text-success bg-light" aria-current="page" href="#">GS <i
          class="fas fa-dot-circle"></i></a>
    </li>
    <li class="nav-item">
      <a class="nav-link active text-success bg-light" href="#">EV <i class="fas fa-dot-circle"></i></a>
    </li>
    <li class="nav-item">
      <a class="nav-link active text-success bg-light" href="#">EA <i class="fas fa-dot-circle"></i></a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-secondary bg-light" href="#">MB <i class="fas fa-dot-circle"></i></a>
    </li>
  </ul>

  <div class="button-group">
    <a routerLink="/login"><button class="btn btn-danger d-block w-100">Logout</button></a>
  </div>
</div>
