<div class="navbar">
  
    <a routerLink="/projects/project"><i class="navbar-icon d-inline-block" id="logo"><img class="logo" src="./../../assets/OTMT.png" alt=""></i></a>
    <p class="h3 mb-0" style="color:white ;     margin-left: -1100px;color:lightslategray">{{email}}</p>
    <form class="d-flex">
        <input class="form-control me-2 mr-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
</div>
