<div class="clearfix">

  <app-friendlist class="sidebar"></app-friendlist>
  
  
  <div cdkDropListGroup id="cont" class="clearfix">
    <app-menu></app-menu>
    <a [routerLink]="[projectid,'newtask']" query><button class="btn btn-primary d-block w-100 mb-2" >New Task</button></a>

    <div id="toDoContainer">
      <h4 class="text-muted">To Do</h4>
      <div cdkDropList [cdkDropListData]="todo" class="task-list" (cdkDropListDropped)="drop($event)">

        <div id="t.id" class="task" cdkDrag *ngFor="let t of todo">
          <h4>{{t.title}}<a [routerLink]="['/project',projectid,'task',t.id]"><i class="fas fa-edit" style="float:right;"></i></a></h4>
          <label><b>Priority:</b></label>
          <p class="d-inline ml-1">{{t.priority}}</p>
          <br>
          <label><b>Description:</b></label>
          <p class="d-inline ml-1">{{t.description}}</p>
        </div>
      </div>
    </div>

    <div id="doingContainer">
      <h4 class="text-muted">Doing</h4>
      <div cdkDropList [cdkDropListData]="doing" class="task-list" (cdkDropListDropped)="drop($event)">

        <div id="t.id" class="task" cdkDrag *ngFor="let t of doing">
          <h4>{{t.title}}<a [routerLink]="['/project',projectid,'task',t.id]"><i class="fas fa-edit" style="float:right;"></i></a></h4>
          <label><b>Priority:</b></label>
          <p class="d-inline ml-1">{{t.priority}}</p>
          <br>
          <label><b>Description:</b></label>
          <p class="d-inline ml-1">{{t.description}}</p>
        </div>

      </div>
    </div>

    <div id="doneContainer">
      <h4 class="text-muted">Done</h4>
      <div class="task-list" cdkDropList [cdkDropListData]="done" class="task-list" (cdkDropListDropped)="drop($event)">
        <div id="t.id" class="task" cdkDrag *ngFor="let t of done">
          <h4>{{t.title}}<a [routerLink]="['/project',projectid,'task',t.id]"><i class="fas fa-edit" style="float:right;"></i></a></h4>
          <label><b>Priority:</b></label>
          <p class="d-inline ml-1">{{t.priority}}</p>
          <br>
          <label><b>Description:</b></label>
          <p class="d-inline ml-1">{{t.description}}</p>
        </div>
      </div>
    </div>


  </div>
</div>
