<div class="clearfix">
    <div class="sidebar">
        <app-friendlist></app-friendlist>
    </div>
    
    <div id="cont" class="clearfix">
        <div id="toDoContainer">
            <h4 class="text-muted">To Do</h4>
            <div id="toDoList">

            </div>
        </div>
        
        <div id="doingContainer">
            <h4 class="text-muted">Doing</h4>
            <div id="doingList">

            </div>
        </div>

        <div id="doneContainer">
            <h4 class="text-muted">Done</h4>
            <div id="doneList">

            </div>
        </div>

        
    </div>
</div>
