<div class="clearfix">
    <div class="sidebar">
        <app-friendlist></app-friendlist>
    </div>
    
    <div id="cont">
        <div class="button-group">
            <a routerLink="/projects/project"><button class="btn btn-light">Project</button></a>
            <a routerLink="/projects/mytasks"><button class="btn btn-light">My Tasks</button></a>
        </div>
        <div style="width: 1000px; height: 500px; padding: 5px;">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>

