a{
    margin-right: 5px;
}

.sidebar{
    float: left;
    width: 200px;
    height: 100%;
}

#cont{
    float: left;
}

.clearfix::after {
    content: "";
    clear: both;
    display: block;
}








