<div id="newtask-container" class="container">
    <h3 class="d-inline-block">New Task</h3>
    <hr>
    <input class="form-control" type="text" id="taskTitleInput" placeholder="Task Title" [(ngModel)]="title">
    <div id="assignSelect" class="container">
        <i class="fas fa-user " id="assignIcon"></i>
        <select (change)="onChangeAssignSelect($event)" class="form-select fa" >
            <option  *ngIf="selectedTeamMembers.length===0" selected >{{unassigned}}</option>
            <option  *ngIf="selectedTeamMembers.length!==0" selected >{{assigned}}</option>

            <option [value]="m.value" *ngFor="let m of unSelectedTeamMembers">
                 {{m.name}}
             </option>
          
            <i class="fas fa-user"></i>
        </select>
    </div>
    <div id="assignedDisplayer" class="container">
        <div class="assignGroup" *ngFor="let tm of selectedTeamMembers">
            <button  (click)="removeAssignedButton(tm.value)" class="btn btn-outline-info assignRemBtn"><i class="fas fa-user-minus"></i></button>
            {{tm.name}}
            <div id="effortSelect">
                <p style="display:inline;margin-right: 5px;">Effort</p>
                <select  class="form-select" >
                    <option >100% </option>
                    <option >75% </option>
                    <option >50% </option>
                    <option >25% </option>
                    <i class="fas fa-user"></i>
                </select>
            </div>
            <div id="verticalLineAssignGroup"></div>

        </div>

    </div>
    <hr>

    <div style="margin-bottom: 3px;">
        <label for="taskStateInput d-inline-block" style="margin-right: 20px;">State</label>
        <select [(ngModel)]="state" class="form-select d-inline-block" id="stateSelect" aria-label="Default select example">
            <option selected value="To Do">To Do</option>
            <option value="Doing">Doing</option>
            <option value="Done">Done</option>
        </select>
        <div class="verticalLine" > </div>
        <label style="margin-right: 20px;">Project</label>
        <label>Project 1</label>
        <div class="verticalLine" > </div>
        <label for="taskStateInput d-inline-block" style="margin-right: 20px;">Priority</label>
        <select [(ngModel)]="priority" class="form-select d-inline-block" id="priorSelect" aria-label="Default select example">
            <option selected value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
        </select>
    </div>
    <hr>
    <div class="container mb-3 text-center">
        <ngb-datepicker #dp (dateSelect)="onDateSelection($event)" [displayMonths]="2" [dayTemplate]="t" outsideDays="hidden">
        </ngb-datepicker>
        <ng-template #t let-date let-focused="focused">
          <span class="custom-day"
                [class.focused]="focused"
                [class.range]="isRange(date)"
                [class.faded]="isHovered(date) || isInside(date)"
                (mouseenter)="hoveredDate = date"
                (mouseleave)="hoveredDate = null">
            {{ date.day }}
          </span>
        </ng-template>
        <br>
        
            <div class="badge" style="font:inherit;width: 119.77px;">{{fromDate.day}}.{{fromDate.month}}.{{fromDate.year}}</div>
            <div class="badge" style="font:inherit;">to</div>
            <div class="badge " style="font:inherit;width: 119.77px;" *ngIf="toDate===null">-</div>
            <div class="badge " style="font:inherit;margin:0px;width: 119.77px;" *ngIf="toDate!==null">{{toDate.day}}.{{toDate.month}}.{{toDate.year}}</div>
        
    </div>
    <hr>

    <div class="form-floating">
        <textarea class="form-control" id="taskDesc" placeholder="Description" [(ngModel)]="description"></textarea>
    </div>
    <button class="btn btn-primary float-right" (click)="createTask()">Create</button>
</div>