<div id="login-container" class="container">
    <div class="container">
        <h3>LOGIN</h3>
        <input class="form-control" type="text" id="emailInput" placeholder="E-mail" [(ngModel)]="email">
        <input class="form-control" type="password" name="" id="passwordInput" placeholder="Password" [(ngModel)]="password">
        <a href="#">Forgot Your Password?</a>

        <div class="button-group">
            <button class="btn btn-lg" (click)="loginClicked()">Login</button>
            <a routerLink="/register"><button class="btn btn-lg">Register</button></a>
        </div>
    </div>
    
</div>
<img class="logo" style="top:13vh;left:120px;" src="./../../assets/OTMT.png" alt="">
<img class="logo" style="top:13vh;left:240px;" src="./../../assets/OTMT.png" alt="">
<img class="logo" style="top:13vh;left:360px;" src="./../../assets/OTMT.png" alt="">
<img class="logo" style="top:13vh;left:480px;" src="./../../assets/OTMT.png" alt="">
<img class="logo" style="top:13vh;left:600px;" src="./../../assets/OTMT.png" alt="">
<img class="logo" style="top:13vh;left:720px;" src="./../../assets/OTMT.png" alt="">
<img class="logo" style="top:13vh;left:840px;" src="./../../assets/OTMT.png" alt="">
<img class="logo" style="top:13vh;left:960px;" src="./../../assets/OTMT.png" alt="">
<img class="logo" style="top:13vh;left:1080px;" src="./../../assets/OTMT.png" alt="">
<img class="logo" style="top:13vh;left:1200px;" src="./../../assets/OTMT.png" alt="">
<img class="logo" style="top:13vh;left:1320px;" src="./../../assets/OTMT.png" alt="">
<img class="logo" style="top:13vh;left:1440px;" src="./../../assets/OTMT.png" alt="">
<img class="logo" style="top:13vh;left:1560px;" src="./../../assets/OTMT.png" alt="">
<img class="logo" style="top:13vh;left:1680px;" src="./../../assets/OTMT.png" alt="">

<img class="logo" style="bottom:30px;left:120px;" src="./../../assets/OTMT.png" alt="">
<img class="logo" style="bottom:30px;left:240px;" src="./../../assets/OTMT.png" alt="">
<img class="logo" style="bottom:30px;left:360px;" src="./../../assets/OTMT.png" alt="">
<img class="logo" style="bottom:30px;left:480px;" src="./../../assets/OTMT.png" alt="">
<img class="logo" style="bottom:30px;left:600px;" src="./../../assets/OTMT.png" alt="">
<img class="logo" style="bottom:30px;left:720px;" src="./../../assets/OTMT.png" alt="">
<img class="logo" style="bottom:30px;left:840px;" src="./../../assets/OTMT.png" alt="">
<img class="logo" style="bottom:30px;left:960px;" src="./../../assets/OTMT.png" alt="">
<img class="logo" style="bottom:30px;left:1080px;" src="./../../assets/OTMT.png" alt="">
<img class="logo" style="bottom:30px;left:1200px;" src="./../../assets/OTMT.png" alt="">
<img class="logo" style="bottom:30px;left:1320px;" src="./../../assets/OTMT.png" alt="">
<img class="logo" style="bottom:30px;left:1440px;" src="./../../assets/OTMT.png" alt="">
<img class="logo" style="bottom:30px;left:1560px;" src="./../../assets/OTMT.png" alt="">
<img class="logo" style="bottom:30px;left:1680px;" src="./../../assets/OTMT.png" alt="">






