<div id="login-container" class="container">
    <div class="container">
        <h3>LOGIN</h3>
        <input class="form-control" type="text" id="emailInput" placeholder="E-mail">
        <input class="form-control" type="password" name="" id="passwordInput" placeholder="Password">
        <a href="#">Forgot Your Password?</a>

        <div class="button-group">
            <button class="btn btn-lg">Login</button>
            <button class="btn btn-lg">Register</button>
        </div>
    </div>
    
</div>
