<div id="myTasks-container">
    <table class="table table-striped">
        <thead>
            <tr>
              <th>Task</th>
              <th>Project Name</th>
              <th>Status</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Mustafanın yapacağı kodlar.</td>
                <td>Perifecto1</td>
                <td>To Do</td>
            </tr>
            <tr>
                <td>Mustafanın yapacağı kodlar.</td>
                <td>Perifecto1</td>
                <td>To Do</td>
            </tr>
        </tbody>

    </table>
</div>