<div id="myTasks-container">
    <table class="table table-striped">
        <thead>
            <tr>
              <th>Task</th>
              <th>Project Name</th>
              <th>Status</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><i class="fas fa-edit"></i>Example Task</td>
                <td>Example Project</td>
                <td>To Do</td>
            </tr>
            <tr>
                <td><i class="fas fa-edit"></i>Example Task</td>
                <td>Example Project</td>
                <td>Doing</td>
            </tr>
        </tbody>

    </table>
</div>