<div id="newproject-container" class="container">
    <h3 class="d-inline-block">New Project</h3>
    <hr>
    <input class="form-control" type="text" id="projectNameInput" placeholder="Project Name">
    <div class="form-floating">
        <textarea class="form-control" placeholder="Description" id="floatingTextarea2" style="height: 100px; resize: none;"></textarea>
    </div>
    <div class="form-check d-inline-block">
        <input class="form-check-input " type="radio" name="flexRadioDefault" id="flexRadioDefault1">
        <label class="form-check-label " for="flexRadioDefault1">
            <i class="fas fa-globe"></i> Public
        </label>
      </div>
      <div class="form-check d-inline-block">
        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
        <label class="form-check-label" for="flexRadioDefault2 ">
            <i class="fas fa-lock"></i> Private
        </label>
      </div>
      <a routerLink="/projects"><button class="btn btn-primary float-right">Create</button></a>

</div>