<app-friendlist></app-friendlist>

<div class="container" id="cont">
    <div  id="call-header">

        <div class="call-animation-header d-inline-block mr-2">
            <img class="img-circle" src="./../../assets/video-call.png" alt="" width="40"/>
        </div>
        <p class="h5 d-inline-block " style="color:white;">Calling Enes Varcan...</p>
    </div>
    <div class="call-animation">
        <img class="img-circle" src="./../../assets/video-call.png" alt="" width="135"/>
    </div>
    <div class="call-menu" >
        <a ><i class="fas fa-video-slash"></i></a>
        <a > <i class="fas fa-microphone-slash"></i></a>
        <a ><i class="fas fa-comments"></i></a>
        <a ><i class="fas fa-desktop"></i></a>
        <a > <i class="fas fa-user-plus"></i></a>
        <a routerLink="/chatscreen"><i class="fas fa-phone-slash"></i></a>


</div>

  </div>
