#cont {
    background: #71AFFF;
    padding: 20px;
    max-width: none;
    float: left;
    margin-left: 20px;
    width: 65vw;
    height:80vh;
    margin-top: 57px;
    -moz-box-shadow:    -3px 0 5px 0 #555;
    -webkit-box-shadow: -3px 0 5px 0 #555;
    box-shadow:         -3px 0 5px 0 #555;
}
#call-header{
    background: gray;
    height: 40px;
    display: inline-block;
    padding: 0;
    border-radius:20px;
    padding-right: 10px;
}
.call-animation-header{
    background: #fff;
    height: 40px;
    border-radius: 100%;
    border: solid 0px #fff;
    animation: play 2s ease infinite;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    padding: 0;
    
    
}
  .call-animation {
      background: #fff;
      width: 160px;
      height: 160px;
      position: relative;
      margin: 0 auto;
      border-radius: 100%;
      border: solid 0px #fff;
      animation: play 2s ease infinite;
      -webkit-backface-visibility: hidden;
      -moz-backface-visibility: hidden;
      -ms-backface-visibility: hidden;
      backface-visibility: hidden;
      padding: 0;
      margin-top: 20vh;
    margin-bottom: 14vw;
  }
   .call-animation>img {
        background-color: #71AFFF;
          width: inherit;
          height: inherit;
          border-radius: 100%;
          position: absolute;
          left: 0px;
          top: 0px;
      }
  @keyframes play {
  
      0% {
          transform: scale(1);
      }
      15% {
          box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.4);
      }
      25% {
          box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.4), 0 0 0 20px rgba(255, 255, 255, 0.2);
      }
      25% {
          box-shadow: 0 0 0 15px rgba(255, 255, 255, 0.4), 0 0 0 30px rgba(255, 255, 255, 0.2);
      }
  
  }
  
.call-menu{
    background: gray;
    height: 60px;
    margin:0 auto;
    border-radius: 20px;
    padding-right: 10px;
    margin: 0 auto;
    display: inline-block;
    padding:10px;
    padding-right: 25px;
    display: table;

}

.call-menu>a{
    float:left;
    font-size:1.5rem;
    color: white;
    display:inline;
    cursor: pointer;
    margin-left: 25px;
}

#closeWindow{
    float:right;
    font-size:2.3rem;
    color: rgb(155, 4, 4);
    display:inline;
    cursor: pointer;
    height: 40px;
    padding:0;
}
input[type=range][orient=vertical]
{
    writing-mode: bt-lr; /* IE */
    -webkit-appearance: slider-vertical; /* WebKit */
    width: 8px;
    height: 175px;
    padding: 0 5px;
}
.volume-slider{

}